<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <center><img src='https://cdn.domestika.org/c_fill,dpr_auto,h_256,t_base_params.format_jpg,w_256/v1588624693/avatars/002/851/188/2851188-original.jpg?1588624693'></center>
      <center><ion-card-subtitle>José Gonzalo Cortez Maldonado</ion-card-subtitle></center>
      <center><ion-card-title>Datos</ion-card-title></center>
    </ion-card-header>
  
    <ion-card-content>
      <p>Correo: josecortezjg777@gmail.com</p>

      telefono: 0993418551
      <br>
      domicilio: Valparaiso N2-189 y Manosalvas. La Tola.
      <br>
      Objetivo: Desarrollo de talentos relacionados con la tecnologia. Continuo crecimiento profesional.
    </ion-card-content>




  </ion-card>
  
</ion-content>
