<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Certificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <center><ion-card-title>Certificaciones</ion-card-title></center>
      <label>Fortinent</label>
      <center><img src="assets/images/Fortinet.png"></center>
      <label>Cisco</label>
      <center><img src="assets/images/Cisco.png"></center>

    </ion-card-header>

  </ion-card>
</ion-content>
