<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <center><ion-card-title>Cursos</ion-card-title></center>
      <label>Udemy: Master en PHP</label>
      <center><img src="assets/images/Php.PNG"></center>
      <label>Cisco CCNA Fundamentos de Networking para redes IP</label>
      <center><img src="assets/images/Redes.PNG"></center>
      <label>Programación Orientada a Objetos</label>
      <center><img src="assets/images/Poo.PNG"></center>
      <label>Pensamiento Lógico</label>
      <center><img src="assets/images/Logica.PNG"></center>

    </ion-card-header>

  </ion-card>

</ion-content>
